@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: "Oswald", sans-serif;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}


nav {
  --height: 3.5rem;
  --border: calc(var(--height)/2);
  width: 30%;
  height: var(--height);
  position: fixed;
  display: flex;
  z-index: 99999;
  background: white;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: var(--border);
  border-top-right-radius: var(--border);
  transition:
    width .3s ease-in-out,
    border-bottom-right-radius .3s ease-in-out,
    border-top-right-radius .3s ease-in-out;
}

nav>img {
  height: 100%;
  width: auto;
}

nav>h1 {
  color: #0059a0;
}

.header {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 2rem;
  font-size: clamp(1rem, 10vw, 1.3rem);
  position: relative;
  isolation: isolate;
  transition: background .5s ease-in-out;
  overflow: hidden;
  ;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(20%);
  inset: 0;
  margin: auto;
  z-index: -1;
  background: linear-gradient(180deg,
      transparent,
      rgba(0, 0, 0, 1));
}

.menu {
  width: 100%;
  height: 5rem;
  background: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.menu>* {
  padding: 0 2rem;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #06629a;
  font-weight: 600;
  cursor: pointer;
}


.menu>*:hover>span,
.menu>div:first-child {
  color: #f50d63;
}


.menu>.advanced {
  position: relative;
  display: flex;
  flex-direction: column;

}

.menu>.advanced>ul {
  display: none;
}


.menu>.advanced:hover>ul {
  position: absolute;
  display: flex;
  left: 0;
  top: 100%;
  flex-direction: column;
  width: 10rem;
  height: auto;
  background: white;
  border: .01rem solid black;
  border-radius: .3rem;
}

.menu>.advanced>ul>a {
  text-decoration: none;
  color: #06629a;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.menu>.advanced>ul>a:hover {
  color: #f50d63;
}


body > h1 {
  padding: 2rem;
  color: #06629a;
}

.info {
  width: 100%;
  background: white;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  padding: 2rem 2rem;
  gap: 1rem;
}



.info>div {
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: #0059a0;
  border-radius: 1rem;
}



.info>div>img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: auto;
}



.info>div>h5 {
  font-size: 1.05rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}


.info>div>p {
  font-size: 1rem;
}

.footer {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.footer>.part-of>a {
  text-decoration: none;
  color: hsl(0, 0%, 70%)
}

.footer>.social>div {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;

}




.footer>.social>div>a {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer>.social>div>a:first-child>svg {
  height: 60%;
}


.footer>.social>div>a:last-child>svg {
  height: 80%;
}














@media (max-width: 50rem) {
  .menu>* {
    display: none !important;
  }
}
